<div class="user-form-container">
  <h1>Crear nuevo usuario</h1>

  <%= form_with model: @user, local: true do |form| %>
    <div>
      <%= form.label :name, "Nombre" %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.submit "Crear usuario" %>
    </div>
  <% end %>

  <%= link_to "â† Volver a la lista de usuarios", users_path, class: "back-button" %>
</div>
